<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Middle tier application context definition for the image database.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
<!--在容器文件中配置bean（service/dao/domain/action/数据源）-->
    <!--bean元素的作用是，当我们的spring框架加载的时候，spring就会自动创建一个bean-->
    <bean id="changeLetter" class="com.wyx.change.LowerLetter">
        <property name="name">
            <value>qwer</value>
        </property>
    </bean>

    <!--<bean id="changeLetter" class="com.wyx.changee.UpperLetter">-->
        <!--<property name="name">-->
            <!--<value>qwer</value>-->
        <!--</property>-->
    <!--</bean>-->

</beans>
